* {
    margin: 0;
    padding: 0;
}

body {
  background-image: url(img/back.jpg); 
}

.container {
  font-family: Helvetica, Verdana, sans-serif;
}

.search-input {
  border-radius: 15px;
  margin: 25px 2px 10px 0px;
  height: 35px;
  width: 25%;
  margin-left: 62.5%;
  transition-duration: 0.3s;
}

.search-input:hover, .search-input:active, .search-input:focus {
  border-radius: 0px;
  border: none;
  width: 87.5%;
  margin-left: 0;
  transition-duration: 0.3s;
}

.search {
  height: 120px;
  width: 100%;
}

.info {
  color: #000;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

#button {
  margin-bottom: 2px;
  height: 35px;
  width: 12%;
  border-radius: 20px;
  background: #1b1b1c;
  border: none;
}

#button:hover {
  background: #000;
}

#image {
  margin: 20px 0px 10px 15px;
  border: 2px solid #000;
  border-radius: 5px;
  transition-duration: 0.5s;
}

#image:hover, .picture img:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.categories, .results {
  margin-top: 40px;
  font-size: 20px;
}

.results p {
  padding-left: 10px;
}

.categories p, .results p, .categories1 p, .results1 p {
  margin-bottom: 30px;
}

.categories1, .results1 {
  margin: 20px 0px 0px 20px;
  font-size: 20px;
}

p.actors, p.plot {
  height: 60px;
}

.stars {
  color: #fff;
  font-size: 20px;
  margin-top: 40px;
  background: #79797a;
  text-shadow: #000 0 0 4px;
  border-radius: 10px;
}

.stars:hover {
  background: #000;
}

.stars p {
  margin-left: 60px;
  display: inline;
}

.stars p:last-child {
  margin-left: 20px;
}

.error {
  text-align: center;
  font-size: 24px;
  color: #000;
  background: rgba(255, 255, 255, 0.6);;
}

.picture img {
  height: 450px;
  width: 100%;
  border: 3px solid #000;
  border-radius: 10px;
  margin: 20px 0px;
  transition-duration: 0.5s;
}

.off {
  position: absolute;
  top: -30px;
  font-size: 20px;
  color: #fff;
  text-shadow: #000 0 0 3px;
}

@media (min-width: 768px) and (max-width: 991px)  {

  .stars, .stars p {
    margin-top: 0px;
  }

  .photo {
    text-align: center;
  }
  
  .results {
    float: right;
  }

  .categories1, .results1 {
    margin-left: 0px;
  }

  .picture img {
    height: 500px;
    width: 70%;
  }

  .picture {
    text-align: center;
  }

}

@media (max-width: 767px) {

  #image {
    height: 300px;
    width: 200px;
  }
  
  .categories, .results {
    font-size: 10px;
    font-weight: 300;
  }

  .stars, .stars p {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8px;
  }

  .photo {
    text-align: center;
  }

  .categories1, .results1 {
    display: none;
  }

  .search-input {
    margin-left: 0;
    height: 30px;
    width: 79%;
  }

  #button {
    height: 30px;
    width: 20%;
  }

  .search-input:hover, .search-input:active, .search-input:focus {
    width: 79%;
  }

  .picture img {
    height: 300px;
    width: 250px;
  }

  .picture {
    text-align: center;
  }

}
